<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="mypage-tb">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, follows_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
</table>
<% if current_user != user %>
  <% if user.followed_by?(current_user) %>
    <%= link_to 'Followed', user_relationships_path(user), method: :delete, class: "btn btn-default" %> 
  <% else %>
    <%= link_to 'Follow', user_relationships_path(user), method: :post, class: "btn btn-info" %> 
  <% end %>
<% end %>
<%= link_to edit_user_path(user), class: "btn btn-default edit_user_#{user.id} edit-btn" do %>
  <%= fa_icon "wrench" %>
<% end %>
