<div class="row">
  <div class="col-lg-3">
    <h2>User info</h2>
    <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
    <table class="mypage-tb">
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </table>
    <%= link_to edit_user_path(current_user), class: "btn btn-default" do %>
      <%= fa_icon "wrench" %>
    <% end %>

    <h2>New book</h2>
    <form action="">
      <label for="">Title</label><br>
      <input type=""><br>
      <label for="">Opinion</label><br>
      <textarea id="" name="" cols="30" rows="10"></textarea><br>
      <input type="submit" class="btn btn-primary">
    </form>    
  </div>
  <div class="col-lg-9">
    <h2>Users</h2>
    <table class="list-tb">
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
