<div class="row">
  <div class="col-md-3">
    <%= render 'users/info', user: @book.user %>
    <%= render 'books/form', book: @book_new %>
  </div>
  <div class="col-md-9">
    <h2>Book detail</h2>
    <div class="book-wrapper">
      <%= render 'content', book: @book %>
    </div>
    <h3>Book comment</h3>
    <p>コメント数: <%= @book_comments.count %></p>
    <table class="show-tb comment-tb">
      <%= render @book_comments %>
    </table>
    <div class="comment-form">
      <%= form_with model: [@book, @book_comment] do |f| # form_with or form_for remote: trueで非同期になる %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>
  </div>
</div>
